/* General body styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 30px;
}

.main-title {
    font-size: 3.5rem;
    color: #007bff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Grid for content */
.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

/* Styling for cards */
.card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content {
    padding: 20px;
}

.card h3 {
    font-size: 1.8rem;
    color: #007bff;
    margin-bottom: 10px;
}

.card p {
    color: #6c757d;
    /* Subtle change for readability */
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Hover effects for the cards */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
    .main-title {
        font-size: 2.5rem;
    }

    .card h3 {
        font-size: 1.5rem;
    }

    .card p {
        font-size: 1rem;
    }
}