body{
    background-attachment: fixed;
    background-image: url("./back.jpg");
}
.text{
    text-align: center;
    align-self: center;
    align-self: center;
}
.bold{
    color: white;
    font-size: larger;
}
.black{
    color: black;
}