<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Comparison</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h2>Stock Comparison</h2>
    <form class="container" method="POST">
        <label for="ticker_symbol1">Ticker Symbol 1:</label>
        <input type="text" name="ticker_symbol1" required>
        <br>
        <label for="ticker_symbol2">Ticker Symbol 2:</label>
        <input type="text" name="ticker_symbol2" required>
        <br>
        <label for="start_date">Start Date:</label>
        <input type="date" name="start_date" required>
        <br>
        <label for="end_date">End Date:</label>
        <input type="date" name="end_date" required>
        <br><br>
        <button type="submit">Compare Stocks</button>
    </form>
    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}
</body>

</html>